<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Practice Times</title>
  </head>
  <body>
    <main id="app">
      <div>
        <span>How much time do you want to practice today?</span>
        <input v-model="howMuchTimeInput" v-on:input="calculate">
        <span>minutes</span>
      </div>
      <div>
        <span>Warm Up</span>
        <input v-model="warmUpInput" v-on:input="calculate">
        <span>%</span>
      </div>
      <div>
        <span>Repertoire</span>
        <input v-model="repertoireInput" v-on:input="calculate">
        <span>%</span>
      </div>
      <div>
        <span>Scales/Arpeggios</span>
        <input v-model="scalesArpeggiosInput" v-on:input="calculate">
        <span>%</span>
      </div>
      <div>
        <span>Chords/Comping</span>
        <input v-model="chordsCompingInput" v-on:input="calculate">
        <span>%</span>
      </div>
      <div>
        <p>Warm Up: {{ warmUpOutput }} minutes</p>
        <p>Repertoire: {{ repertoireOutput }} minutes</p>
        <p>Scales/Arpeggios: {{ scalesArpeggiosOutput }} minutes</p>
        <p>Chords/Comping: {{ chordsCompingOutput }} minutes</p>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          warmUpInput: 0,
          repertoireInput: 0,
          scalesArpeggiosInput: 0,
          chordsCompingInput: 0,
          howMuchTimeInput: 0,
          warmUpOutput: 0,
          repertoireOutput: 0,
          scalesArpeggiosOutput: 0,
          chordsCompingOutput: 0,
        },
        methods: {
          calculate: function() {
            this.warmUpOutput = this.percentageToMinutes(this.howMuchTimeInput, this.warmUpInput);
            this.repertoireOutput = this.percentageToMinutes(this.howMuchTimeInput, this.repertoireInput);
            this.scalesArpeggiosOutput = this.percentageToMinutes(this.howMuchTimeInput, this.scalesArpeggiosInput);
            this.chordsCompingOutput = this.percentageToMinutes(this.howMuchTimeInput, this.chordsCompingInput);
          },
          percentageToMinutes: function(total, percentage) {
            return total / (100 / percentage);
          }
        }
      });
    </script>
  </body>
</html>
